# Ignoriere diese Verzeichnisse
.git/
backups/
documents/
Documents
venv/
models/
output/

# Andere zu ignorierende Dateien:

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment-specific files
.env
venv/
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db
github
github.pub
